* { margin:0; padding:0; }

*:link {
	color:#C8C8C8;
	text-decoration:none;
}

*:visited {
	color:#C8C8C8;
	text-decoration:none;
}

*:hover {
	color:#FFFFFF;
	text-decoration:none;
}

*:active {
	color:#FFFFFF;
	text-decoration:none;
}

html, body {
	width:100%;
	height:100%;
	background-image:url(data/background/loading.png);
	background-size: 100% 100%;
}

#menu {
	bottom: 0px;
	position:fixed;
	padding-bottom:10px;
	color:white;
	font-size:35px
}

.PopupMenu {
	background-color: #4C5844;
	width: 348px;
	height: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	color:#C4B550;
}

#dropDownMapMenu {
	overflow: hidden;
	background-color: #3E4637;
	border: 1px solid #3E4637;
	color: #C8C8C8;
}